/* CSS de base pour styliser la page */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.body .erevenir{
    position: fixed;
    background-color: #ffffff;
    left: 1150px;
    top: 15px;
}

.body header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    height: auto;
}

.body nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.body nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.body nav a:hover {
    text-decoration: underline;
}

.body section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.body h2 {
    color: #333;
}

.body footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
